#nav{
    display: flex;
    background-color: rgb(248, 167, 17);
    padding: 1%;
    column-gap: 1%;
}
#logo{
    height: 30px;
}
#header{
    text-decoration: none;
    color: white;
    font-size: larger;
    
}
#headerdiv{
    display: flex;
    align-items: center;
}
#banner{
    background-image: url(images/banner1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    /* filter: brightness(50%); */
    
}
#bannercontent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 1%;
}
#searchbar{   
    padding: 1%;
    border-radius: 50px;
    margin-top: 150px;
    width: 250px;
    
}
#searchicon{
    color: white;
    background-color: rgb(248, 167, 17);
    align-content: center;
    padding: 1%;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    margin-top: 150px;
}
#bannermatter1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
#bannermatter2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: -15px;
}
